<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body ng-app="doodleApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="HeaderController">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              
              <a class="navbar-brand" href="#/">
                  <img src="images/logo1.JPG" alt="logo"  />
                    Let’sMeet Simplifies scheduling
              </a>
              
         </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" >

            <ul ng-show="firebaseUser" class="nav navbar-nav">
              <li ng-class="{ active: isActive('/home')}"><a href="#/home">Home</a></li>
              <li ng-class="{ active: isActive('/step1')}"><a href="#/step1">Step 1</a></li>
              <li ng-class="{ active: isActive('/step2')}"><a ng-href="#/step2">Step 2</a></li>
              <li ng-class="{ active: isActive('/step3')}"><a ng-href="#/step3">Step 3</a></li>
              <li ng-class="{ active: isActive('/summary')}"><a ng-href="#/summary">Summary</a></li>
              <li ng-class="{ active: isActive('/result')}"><a ng-href="#/result">Result</a></li>
             <!--  <li ng-class="{ active: isActive('/chooseDates')}"><a ng-href="#/chooseDates">Choose Dates</a></li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-show="firebaseUser">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ firebaseUser.displayName }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="" ng-click="signOut()"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                </ul>
              </li>

              <li ng-hide="firebaseUser"><a href="" ng-click="signIn()" ><span class="glyphicon glyphicon-log-in"></span> Login </a></li>

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer" ng-controller="HeaderController">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> Made in Israel - Let'sMeet Team 
        <a href="#/about" class="btn btn-info pull-right" role="button">About Us</a>
        </p>
        <p>This app help to schcudle {{eventCounter}}</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79225334-1', 'auto');
    ga('send', 'pageview');

  </script>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDdOa9vtEg2splJHiitX9AG539C8kv7wCU",
        authDomain: "project-7335870999437412984.firebaseapp.com",
        databaseURL: "https://project-7335870999437412984.firebaseio.com",
        storageBucket: "project-7335870999437412984.appspot.com",
      };
      firebase.initializeApp(config);
    </script>

    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
      (function(){
        emailjs.init("user_FZTnKaRtcX9q2tZoOxOh8");
      })();
    </script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/factories.js"></script>
        <script src="scripts/controllers/formCtrl.js"></script>
        <script src="scripts/controllers/headerCtrl.js"></script>
        <script src="scripts/controllers/chooseDatesCtrl.js"></script>
        <script src="scripts/controllers/homeCtrl.js"></script>
        <!-- endbuild -->

        
</body>
</html>

