<div class="container">
    
    <div class="row text-center" >
      <h2>Who are we ?</h2>
    </div>
    <div class="row">
      <h4>
        We are 4  3rd year students of  Industrial Engineering and Management, study at the “Azrieli Academic Collage Of Engineering ” in Jerusalem, Israel.
        </h4>
        <h4>So why did we established the website?</h4>
        <h4>
        Everyone probably experienced difficulties to organize a meeting with friends or colleagues.
        The reason is that each of you have a lot of constraints- work, family, kids, studies etc.
        So this website can help you to find the ideal day for all of you without dealing all the constraints and spending unnecessary time.
        Each of you just need to choose his optional days, and we will take care of the rest.
        We hope you enjoy our website, and have a nice meeting.
        </h4>
        <h4>Snir, Reuven, Aviram and Ortl :)</h4>
    </div>
    <br/>
    
</div>