<div class="container">
	<h3>Choose the dates you can attend</h3>
	<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Hour</th>
        <th>How long in hours</th>
        <th>Can you attend ?</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="date in dates" ng-class="{success: event.done}">
            <td>{{date.dateCh}}</td>
            <td>{{date.hourCh}}</td>
            <td>{{date.howLongCh}}</td>
            <td><input type="checkbox" ng-model="date.isMark" name=""/></td>
        </tr>
    </tbody>
	</table>
	<p ng-hide="firebaseUser"><span>You must log-in in order to make your picks</span></p>
    <p ng-show="firebaseUser"><button type="button" ng-click="savePick()" class="btn btn-success">Submit</button></p>
</div>