<div class="container">
    <div ng-hide="afterSave">
    	<form role="form" name="chooseForm">
            <div class="form-group">
              <label for="email" class="control-label">Please enter your email address</label>
              <input type="email" ng-model="chooseDateEmail" class="form-control" 
              id="email" name="email" placeholder="letsmeet@gmail.com" required>
              <div ng-show="chooseForm.email.$dirty">
                <span ng-show="chooseForm.email.$error.required" class="alert-danger">Please enter something</span>
                <span ng-show="chooseForm.email.$error.email" class="alert-danger">Please enter valid email</span>
              </div>
            </div>
        </form>
        <h3>Choose the dates you can attend</h3>
    	<table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Hour</th>
            <th>How long in hours</th>
            <th>Can you attend ?</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="date in dates" ng-class="{success: event.done}">
                <td>{{date.dateCh}}</td>
                <td>{{date.hourCh}}</td>
                <td>{{date.howLongCh}}</td>
                <td><input type="checkbox" ng-model="date.isMark" name=""/></td>
            </tr>
        </tbody>
    	</table>
        <p><button ng-disabled="chooseForm.$invalid" type="button" ng-click="savePick()" class="btn btn-info">Submit</button></p>
    </div>
    <div ng-show="afterSave">
        <p>
            <h3><span class="label label-success" >Thank you for choosing the date. The event owner will update you on the final date.</span></h3>
        </p>
        <br/>
        <br/>
        <br/>
    </div>
</div>
