<div class="container">
  <h2>Let schedule a new meeting</h2>
  <hr/>
  <form role="form" >
    <div class="form-group">
      <label for="topic" class="control-label">Topic</label>
        <input type="text" ng-model="meeting.topic" class="form-control" id="topic" placeholder="Set the meeting target">
    </div>
    <div class="form-group">
      <label for="location" class="control-label">Where (optional)</label>
      <input type="text" ng-model="meeting.where" class="form-control" id="location" placeholder="Set the location">
    </div>
    <div class="form-group">
      <label for="description" class="control-label">Description (optional)</label>
      <input type="text" ng-model="meeting.description" class="form-control" 
      id="description" placeholder="Tell the participants about the meeting">
    </div>
    <div class="form-group">
      <label for="name" class="control-label">Your Name</label>
      <input type="text" ng-model="meeting.name" class="form-control" 
      id="name" placeholder="Your name">
    </div>
    <div class="form-group">
      <label for="email" class="control-label">Email</label>
      <input type="text" ng-model="meeting.email" class="form-control" 
      id="email" placeholder="Your email address">
    </div>
    
  </form>
  
</div>


