<div class="container">
    <h2>Choose dates </h2>
    <hr />

    <div class="row">
    <div class="col-sm-6">
      <form class="form">
        <div class="form-group">
          <label for="date" class="control-label">Date</label>
          <pre>Selected date is: <em>{{datepicker | date:'fullDate' }}</em></pre>

          <div class="well well-sm">
            <uib-datepicker id="date" ng-model="datepicker" datepicker-options="datepickerOptions"></uib-datepicker>
          </div>
        </div>

        <div class="form-group">
          <label for="beginHour" class="control-label">Metting start at </label>
          <div class="well well-sm">
            <uib-timepicker id="beginHour" ng-model="startTime" ng-change="changed()"  ></uib-timepicker>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group">
            <div class="input-group-addon">For</div>
            <input type="number" name="" ng-model="howLong" class="form-control" >
            <div class="input-group-addon">hours</div>
          </div>
        </div>

        <div class="form-group">
          <input type="button" class="btn btn-primary" ng-click="addDate()" value="Add to date list" name="">
        </div>
          <p><a href="#/step3" class="btn btn-info" role="button">Next Step</a></p>
      </form>
    </div>
    
    <div class="col-sm-6">
      
      <div class="panel panel-default">
        <div class="panel-heading">Dates</div>
        <div class="panel-body">
              <ul ui-sortable ng-model="meeting.dates" class="list-group">
                <li class="list-group-item" ng-repeat="dateItem in meeting.dates" style="cursor:move">
                  {{dateItem.dateCh}} - {{dateItem.hourCh}} - for {{dateItem.howLongCh}} hours
                  <a ng-click="removeDate($index)" href="" class="badge" style="color:white"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </li>
              </ul>
        </div>
    </div>
      
  </div>
</div>
